:root {
  --color-design: #2196f3;
  --color-design-global: #ffffff;
  --color-hover-btn-hero: #188ce8;
  --color-text-title: #212121;
  --color-text-p: #757575;
  --color-footer: #2f303a;
  --color-design-line: #eeeeee;
  --color-btn-portfolio: #f5f4fa;
  --color-team-bgd: #f5f4fa;
  --color-logo-second: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-design-global);
  color: var(--color-text-title);
}

.text {
  color: var(--color-text-p);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo .logo-black {
  color: var(--color-logo-second);
}
.logo .logo-blue {
  color: var(--color-design);
}
.logo .logo-white {
  color: var(--color-design-global);
}

/* header */

.head-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.head-address .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-text-p);
}
.link.current {
  color: var(--color-design);
}
.head-link:hover,
.head-link:focus {
  color: var(--color-design);
}

/* hero */
.hero {
  background: var(--color-footer);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-design-global);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-design-global);
  width: 200px;
  height: 50px;
  background-color: var(--color-design);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-hover-btn-hero);
}

/* advantage */

.title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */

/* team */

.team {
  background-color: var(--color-team-bgd);
}

.team-item {
  width: 270px;
  height: 368px;
  background-color: var(--color-design-global);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text.text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.foot {
  background-color: var(--color-footer);
}

.foot-address {
  font-style: normal;
}
.foot-link.maps-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-design-global);
}
.foot-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot-link:hover,
.foot-link:focus {
  color: var(--color-design);
}

/* portfolio */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  background-color: var(--color-btn-portfolio);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.portfolio-item {
  width: 370px;
  height: 404px;
  background-color: var(--color-design-global);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn.btn:focus {
  background-color: var(--color-design);
  color: var(--color-design-global);
}
